 body{
  background-color: black;
  padding-bottom: 40px
}

  #footer {
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(98, 92, 92);
    height: 40px;
    text-align: center
}
#carros {
  width: 100%;
  height: auto 
}


 #lista {
    background-color: rgb(0, 0, 0);
    list-style: none
  }
  
 li {
    color:white;
    display: inline-block;
    margin-right: 20px;
    font-size: 30px
  }
  
 #text{
    color:white
  }

 #produte {
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    width: 15%;
 }
 #carrosel {
  width: 80px;
 }

 #title{
  color: white;
  text-align: center;
 }

 #cards {
  display: flex;
  gap: 65px;
  flex-wrap: wrap;
  text-align: center;
 }

@media (min-width: 2024px) {
  #produte {
      gap: 100px;
      flex-wrap: wrap
  }
}

@media (min-width: 768px) and (max-width: 2023px) {
  #produte {
    gap: 50px;
    flex-wrap: wrap
  }
}

@media (max-width: 767px) {
  #produte {
    gap: 20px;
    flex-wrap: wrap
  }
}